@font-face {
    font-family: main;
    src: url(../fonts/NeueMachina-Light_gwWCZxVuQl.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1622737133809-d95047b9e673?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    padding-top: 35px;
    text-align: center;
    position: relative;
}


h1{
    color: aliceblue;
    font-size: 75px;
    font-weight: 100;
    font-family: 'main';
}

button{
    margin-right: 50px;
    font-family: 'main';
    background-color: #FFAB10;
    padding: 5px;
    border-radius: 20px;
    font-size: 18px;

    position: absolute;
    top:120px;
    right: 75px;
}


